h1{
    text-align: center;
    color: pink;
}
.favorite{
    color: red;
}
.bgchangepink{
    background-color: pink;
}
.bgchangeyellow{
    background-color: lightskyblue;
}
.bgchangegreen{
    background-color: lightgreen;
}
.scrollarea{
    height: 460px;
    overflow-y: auto;
}
